USE [master]
GO
/****** Object:  Database [BD_PuppyHouse]    Script Date: 03.09.2025 0:51:28 ******/
CREATE DATABASE [BD_PuppyHouse]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_PuppyHouse_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.JULPUTER\MSSQL\DATA\BD_PuppyHouse.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_PuppyHouse_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.JULPUTER\MSSQL\DATA\BD_PuppyHouse.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_PuppyHouse].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_PuppyHouse]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryService]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryService](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_CategoryService] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryTovar]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryTovar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_CategoryTovar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dog]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Poroda] [nvarchar](50) NULL,
	[ID_User] [int] NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_Dog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoteService]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoteService](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Master] [int] NULL,
	[ID_Dog] [int] NULL,
	[ID_Service] [int] NULL,
	[Date] [datetime] NULL,
	[Sale] [int] NULL,
	[ID_Status] [int] NULL,
 CONSTRAINT [PK_NoteService] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavka]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavka](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Tovar] [int] NULL,
	[Count] [int] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Postavka] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodazha]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodazha](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Employee] [int] NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_Prodazha] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nchar](250) NULL,
	[Price] [float] NULL,
	[Time] [nvarchar](50) NULL,
	[ID_Category] [int] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpisokTovars]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpisokTovars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Prodazha] [int] NULL,
	[ID_Tovar] [int] NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_SpisokTovars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusEmployee]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusEmployee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_StatusEmployee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusNote]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusNote](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_StatusNote] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tovar]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tovar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [float] NULL,
	[ID_Category] [int] NULL,
	[ID_Brand] [int] NULL,
	[ID_Country] [int] NULL,
	[Size] [nvarchar](250) NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tovar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 03.09.2025 0:51:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [nvarchar](150) NULL,
	[Phone] [nvarchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[ID_Role] [int] NULL,
	[Login] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[ID_StatusEmployee] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([ID], [Name]) VALUES (1, N'Rungo     ')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (2, N'Petmax    ')
INSERT [dbo].[Brand] ([ID], [Name]) VALUES (3, N'PURRY     ')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryService] ON 

INSERT [dbo].[CategoryService] ([ID], [Name]) VALUES (1, N'Стрижка')
INSERT [dbo].[CategoryService] ([ID], [Name]) VALUES (2, N'Уход')
SET IDENTITY_INSERT [dbo].[CategoryService] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryTovar] ON 

INSERT [dbo].[CategoryTovar] ([ID], [Name]) VALUES (1, N'Одежда')
INSERT [dbo].[CategoryTovar] ([ID], [Name]) VALUES (2, N'Аксессуары')
INSERT [dbo].[CategoryTovar] ([ID], [Name]) VALUES (3, N'Лежаки')
SET IDENTITY_INSERT [dbo].[CategoryTovar] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [Name]) VALUES (1, N'Россия    ')
INSERT [dbo].[Country] ([ID], [Name]) VALUES (2, N'Китай     ')
INSERT [dbo].[Country] ([ID], [Name]) VALUES (3, N'Италия    ')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Dog] ON 

INSERT [dbo].[Dog] ([ID], [Name], [Poroda], [ID_User], [Age]) VALUES (2, N'Снежок ', N'Далматин', 1005, 1)
INSERT [dbo].[Dog] ([ID], [Name], [Poroda], [ID_User], [Age]) VALUES (1002, N'Бобик', N'Шпиц', 1005, 4)
INSERT [dbo].[Dog] ([ID], [Name], [Poroda], [ID_User], [Age]) VALUES (1003, N'Пушистик', N'Немецкая овчарка', 1006, 2)
SET IDENTITY_INSERT [dbo].[Dog] OFF
GO
SET IDENTITY_INSERT [dbo].[NoteService] ON 

INSERT [dbo].[NoteService] ([ID], [ID_Master], [ID_Dog], [ID_Service], [Date], [Sale], [ID_Status]) VALUES (3, 3, 2, 1, CAST(N'2012-12-12T00:00:00.000' AS DateTime), NULL, 4)
INSERT [dbo].[NoteService] ([ID], [ID_Master], [ID_Dog], [ID_Service], [Date], [Sale], [ID_Status]) VALUES (1002, 1003, 1005, 3, CAST(N'2024-11-29T13:00:00.000' AS DateTime), NULL, 4)
INSERT [dbo].[NoteService] ([ID], [ID_Master], [ID_Dog], [ID_Service], [Date], [Sale], [ID_Status]) VALUES (1003, 1003, 1007, 1, CAST(N'2024-11-30T23:00:00.000' AS DateTime), NULL, 4)
SET IDENTITY_INSERT [dbo].[NoteService] OFF
GO
SET IDENTITY_INSERT [dbo].[Postavka] ON 

INSERT [dbo].[Postavka] ([ID], [ID_Tovar], [Count], [Date]) VALUES (1, 1, 17, CAST(N'2012-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[Postavka] ([ID], [ID_Tovar], [Count], [Date]) VALUES (2, 2, 88, CAST(N'2024-12-01T12:32:40.120' AS DateTime))
INSERT [dbo].[Postavka] ([ID], [ID_Tovar], [Count], [Date]) VALUES (7, 18, 100, CAST(N'2024-12-03T22:10:25.173' AS DateTime))
SET IDENTITY_INSERT [dbo].[Postavka] OFF
GO
SET IDENTITY_INSERT [dbo].[Prodazha] ON 

INSERT [dbo].[Prodazha] ([ID], [ID_Employee], [Date]) VALUES (1, NULL, CAST(N'2024-11-27T21:06:49.847' AS DateTime))
INSERT [dbo].[Prodazha] ([ID], [ID_Employee], [Date]) VALUES (2, NULL, CAST(N'2024-11-27T21:36:37.553' AS DateTime))
INSERT [dbo].[Prodazha] ([ID], [ID_Employee], [Date]) VALUES (3, NULL, CAST(N'2024-11-27T21:46:14.273' AS DateTime))
SET IDENTITY_INSERT [dbo].[Prodazha] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (2, N'Кассир-консультант')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (3, N'Мастер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

INSERT [dbo].[Service] ([ID], [Name], [Description], [Price], [Time], [ID_Category]) VALUES (1, N'Стандартная Стрижка медиум', N'Комплексная стрижка (для маленький и средних пород) с использованием профессиональных инструментов и высококачественной косметики. Включает мытье, стрижку, расчесывание и оформление.                                                                    ', 2000, N'90', 1)
INSERT [dbo].[Service] ([ID], [Name], [Description], [Price], [Time], [ID_Category]) VALUES (2, N'Стандартная Стрижка биг', N'Комплексная стрижка (для больших пород) с использованием профессиональных инструментов и высококачественной косметики. Включает мытье, стрижку, расчесывание и оформление.                                                                                ', 3000, N'120', 1)
INSERT [dbo].[Service] ([ID], [Name], [Description], [Price], [Time], [ID_Category]) VALUES (3, N'Стрижка "Детская"', N'Легкая стрижка для щенков и молодых собак, направленная на формирование правильного окраса и привычки к стрижке.                                                                                                                                          ', 1000, N'60', 1)
SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[SpisokTovars] ON 

INSERT [dbo].[SpisokTovars] ([ID], [ID_Prodazha], [ID_Tovar], [Count]) VALUES (1, 1, 1, 4)
INSERT [dbo].[SpisokTovars] ([ID], [ID_Prodazha], [ID_Tovar], [Count]) VALUES (2, 1, 1, 3)
INSERT [dbo].[SpisokTovars] ([ID], [ID_Prodazha], [ID_Tovar], [Count]) VALUES (3, 1, 1, 4)
SET IDENTITY_INSERT [dbo].[SpisokTovars] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusEmployee] ON 

INSERT [dbo].[StatusEmployee] ([ID], [Name]) VALUES (1, N'Допущен   ')
INSERT [dbo].[StatusEmployee] ([ID], [Name]) VALUES (2, N'Уволен    ')
SET IDENTITY_INSERT [dbo].[StatusEmployee] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusNote] ON 

INSERT [dbo].[StatusNote] ([ID], [Name]) VALUES (1, N'Свободно')
INSERT [dbo].[StatusNote] ([ID], [Name]) VALUES (2, N'Занято')
INSERT [dbo].[StatusNote] ([ID], [Name]) VALUES (3, N'Выполнено')
SET IDENTITY_INSERT [dbo].[StatusNote] OFF
GO
SET IDENTITY_INSERT [dbo].[Tovar] ON 

INSERT [dbo].[Tovar] ([ID], [Name], [Description], [Price], [ID_Category], [ID_Brand], [ID_Country], [Size], [Photo]) VALUES (1, N'Комбинезонн с флисовой подкладкой, банан-авокадо', N'Комбинезон RUNGO защитит Вашего питомца от сырости, загрязнений и переохлаждения.', 2599, 1, 1, 2, N'ДC: 30 см. ОШ: 43 см. ОГ: 60 см. ', N'1.png')
INSERT [dbo].[Tovar] ([ID], [Name], [Description], [Price], [ID_Category], [ID_Brand], [ID_Country], [Size], [Photo]) VALUES (2, N'Куртка-жилетка со шлейкой для собак, серебряная', N'Куртка-жилетка на молнии от бренда Rungo надежно защитит питомца от холода, ветра, дождя и снега.', 1599, 1, 1, 2, N'ДC: 45см. ОШ: 40 см. ОГ: 55см. ', N'2.png')
INSERT [dbo].[Tovar] ([ID], [Name], [Description], [Price], [ID_Category], [ID_Brand], [ID_Country], [Size], [Photo]) VALUES (3, N'Комбинезон с цветочком для собак, голубой', N'Комбинезон для собаки-девочки с капюшоном защитит любимицу от холода, ветра, дождя и снега.', 1699, 1, 1, 2, N'ДC: 25см. ОШ: 40 см. ОГ: 55см. ', N'3.png')
SET IDENTITY_INSERT [dbo].[Tovar] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [FIO], [Phone], [Email], [ID_Role], [Login], [Password], [ID_StatusEmployee]) VALUES (3, N'Админ', N'+7(777)326-17-60', N'ppdastrr@mail.ru', 1, N'1', N'1', 1)
INSERT [dbo].[User] ([ID], [FIO], [Phone], [Email], [ID_Role], [Login], [Password], [ID_StatusEmployee]) VALUES (1002, N'Кассир 1', N'+7(777)125-67-54', N'ppdastrr@mail.ru', 2, N'2', N'2', 2)
INSERT [dbo].[User] ([ID], [FIO], [Phone], [Email], [ID_Role], [Login], [Password], [ID_StatusEmployee]) VALUES (1003, N'Мастер 1', N'+7(777)242-91-09', N'ppdastrr@mail.ru', 3, N'3', N'3', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Dog]  WITH CHECK ADD  CONSTRAINT [FK_Dog_User] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Dog] CHECK CONSTRAINT [FK_Dog_User]
GO
ALTER TABLE [dbo].[NoteService]  WITH CHECK ADD  CONSTRAINT [FK_NoteService_Dog] FOREIGN KEY([ID_Dog])
REFERENCES [dbo].[Dog] ([ID])
GO
ALTER TABLE [dbo].[NoteService] CHECK CONSTRAINT [FK_NoteService_Dog]
GO
ALTER TABLE [dbo].[NoteService]  WITH CHECK ADD  CONSTRAINT [FK_NoteService_Service] FOREIGN KEY([ID_Service])
REFERENCES [dbo].[Service] ([ID])
GO
ALTER TABLE [dbo].[NoteService] CHECK CONSTRAINT [FK_NoteService_Service]
GO
ALTER TABLE [dbo].[NoteService]  WITH CHECK ADD  CONSTRAINT [FK_NoteService_StatusNote] FOREIGN KEY([ID_Status])
REFERENCES [dbo].[StatusNote] ([ID])
GO
ALTER TABLE [dbo].[NoteService] CHECK CONSTRAINT [FK_NoteService_StatusNote]
GO
ALTER TABLE [dbo].[NoteService]  WITH CHECK ADD  CONSTRAINT [FK_NoteService_User] FOREIGN KEY([ID_Master])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[NoteService] CHECK CONSTRAINT [FK_NoteService_User]
GO
ALTER TABLE [dbo].[Postavka]  WITH CHECK ADD  CONSTRAINT [FK_Postavka_Tovar] FOREIGN KEY([ID_Tovar])
REFERENCES [dbo].[Tovar] ([ID])
GO
ALTER TABLE [dbo].[Postavka] CHECK CONSTRAINT [FK_Postavka_Tovar]
GO
ALTER TABLE [dbo].[Prodazha]  WITH CHECK ADD  CONSTRAINT [FK_Prodazha_User1] FOREIGN KEY([ID_Employee])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Prodazha] CHECK CONSTRAINT [FK_Prodazha_User1]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_CategoryService] FOREIGN KEY([ID_Category])
REFERENCES [dbo].[CategoryService] ([ID])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_CategoryService]
GO
ALTER TABLE [dbo].[SpisokTovars]  WITH CHECK ADD  CONSTRAINT [FK_SpisokTovars_Prodazha] FOREIGN KEY([ID_Prodazha])
REFERENCES [dbo].[Prodazha] ([ID])
GO
ALTER TABLE [dbo].[SpisokTovars] CHECK CONSTRAINT [FK_SpisokTovars_Prodazha]
GO
ALTER TABLE [dbo].[SpisokTovars]  WITH CHECK ADD  CONSTRAINT [FK_SpisokTovars_Tovar] FOREIGN KEY([ID_Tovar])
REFERENCES [dbo].[Tovar] ([ID])
GO
ALTER TABLE [dbo].[SpisokTovars] CHECK CONSTRAINT [FK_SpisokTovars_Tovar]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Brand] FOREIGN KEY([ID_Brand])
REFERENCES [dbo].[Brand] ([ID])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Brand]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_CategoryTovar] FOREIGN KEY([ID_Category])
REFERENCES [dbo].[CategoryTovar] ([ID])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_CategoryTovar]
GO
ALTER TABLE [dbo].[Tovar]  WITH CHECK ADD  CONSTRAINT [FK_Tovar_Country] FOREIGN KEY([ID_Country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Tovar] CHECK CONSTRAINT [FK_Tovar_Country]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_StatusEmployee] FOREIGN KEY([ID_StatusEmployee])
REFERENCES [dbo].[StatusEmployee] ([ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_StatusEmployee]
GO
USE [master]
GO
